<link href="../../../css/schooladministrator/students/schooladministrator.students.css" rel="stylesheet" />

<div class="row">
    <div class="col-xs-12">
        <h1>Students : <a href="#/schooladministrator/profile">{{currentSchool.School.SchoolName}}</a></h1>
    </div>
</div>

<div class="row">
    <div class="panel panel-primary filterable">
        <button class="btn btn-default btn-info btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
        <button type="button" data-toggle="modal" data-target="#newStudentInviteModal" class="btn btn-success" id="invite-student-button"><i class="fa fa-graduation-cap"></i> Invite Student</button>
        <table class="table">
            <thead>
                <tr class="filters">
                    <th><input type="text" class="form-control" placeholder="Student Name" disabled></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in schoolStudents">
                    <td><h3>{{student.LastName}}, {{student.FirstName}}</h3></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <footer class="pull-left footer">
        <p class="col-md-12">
            <hr class="divider">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright &COPY; Bootcamp Track 2016</a>
        </p>
    </footer>
</div>
<!-- Trigger the modal with a button -->
<!-- Modal -->
<div id="newStudentInviteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Invite Student {{school.SchoolName}}</h3>
            </div>
            <div class="modal-body">
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="emailAddress">Email Address</label>
                            <input type="text" class="form-control" id="emailAddress"
                                   placeholder="Email Address" ng-model="newStudentInvite.EmailAddress">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="courseId">Course Id</label>
                            <input type="text" class="form-control" id="branchId"
                                   placeholder="Course Id" ng-model="newStudentInvite.CourseId">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" ng-click="inviteStudent()">Invite</button>
                </div>
                <h5>Powered by Bootstrap</h5>
                <pre>{{newStudent | json}}</pre>
            </div>
        </div>
    </div>
</div>

<script src="../../../js/jQuery/filterable.js"></script>