<link href="../../css/home/home.css" rel="stylesheet" />

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">
                <img class="logo-text" src="../../img/BCT Logo Text.png" />
            </a>
        </div>
        <div class="navbar-right">
            <br />
            <h4>The Code Bootcamp Management App &nbsp;&nbsp;&nbsp;</h4>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default second-nav" id="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
        </div>
    </div>
</nav>

<div class="row">
    <div class="container">
        <div class="col-xs-12 col-sm-4">
            <img class="logo-image" src="../../img/BCT Logo.png" />
        </div>
        <div class="col-xs-12 col-sm-8 about-us">
            <div>
                <h1>What We Do:</h1>
                <p>Bootcamp Track is the first Code Bootcamp management app. Schools can create accounts and manage their courses.</p>
                <p>Students will log in to the course as students and Instructors will be able to manage their course and all their students' assignments and tests.</p>
                <p>With the premium membership, Schools will be able to advertise their students to prospective employers, increasing their students' chances at landing a job in the field after graduation!</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-4 register-box">
            <div class="col-xs-12 register-box-content">
                <h1>School Administrators</h1>
                <p>Login <a>here</a>!</p>
                <p>Don't have an account yet? <br />Create an Account <a>here</a> and start holding classes!</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 register-box">
            <div class="col-xs-12 register-box-content">
                <h1>Instructors</h1>
                <p>Login <a>here</a>!</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 register-box">
            <div class="col-xs-12 register-box-content">
                <h1>Students</h1>
                <p>Login <a>here</a>!</p>
            </div>
        </div>
    </div>
</div>