<link href="../../../css/schooladministrator/schoolbranches/schooladministrator.schoolbranches.css" rel="stylesheet" />

<div class="row">
    <div class="col-xs-12">
        <h1>Branches : <a href="#/schooladministrator/profile">{{currentSchool.School.SchoolName}}</a></h1>
    </div>
    <div class="col-xs-12 col-sm-4">    
    </div>
</div>

<div class="row">
    <div class="panel panel-primary filterable">
        <div>
            <button class="btn btn-default btn-info btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
            <button type="button" data-toggle="modal" data-target="#newBranchModal" class="btn btn-success" id="new-branch-button"><i class="fa fa-leaf"></i> Add New Branch</button>
        </div>
        <table class="table">
            <thead>
                <tr class="filters">
                    <th><input type="text" class="form-control" placeholder="Branch" disabled></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="branch in branches">
                    <td><h3><a href="#/schooladministrator/schoolbranches/{{branch.SchoolBranchId}}">{{branch.City}}, {{branch.State}}</a></h3></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <footer class="pull-left footer">
        <p class="col-md-12">
            <hr class="divider">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright &COPY; Bootcamp Track 2016</a>
        </p>
    </footer>
</div>

<!-- Modal -->
<div id="newBranchModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Add a new branch to {{currentSchool.School.SchoolName}}</h3>
            </div>
            <div class="modal-body">
                <div class="col-xs-12 col-sm-6">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="address1">Address 1</label>
                            <input type="text" class="form-control" id="address1"
                                   placeholder="Address 1" ng-model="newBranch.Address1">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="address2">Address 2 (Optional)</label>
                            <input type="text" class="form-control" id="address2"
                                   placeholder="Address 2" ng-model="newBranch.Address2">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="address3">Address 3 (Optional)</label>
                            <input type="text" class="form-control" id="address3"
                                   placeholder="Address 3" ng-model="newBranch.Address3">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="city">City</label>
                            <input type="text" class="form-control" id="city"
                                   placeholder="City" ng-model="newBranch.City">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="state">State</label>
                            <input type="text" class="form-control" id="state"
                                   placeholder="State" ng-model="newBranch.State">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="zipCode">Zip Code</label>
                            <input type="text" class="form-control" id="zipCode"
                                   placeholder="Zip Code" ng-model="newBranch.ZipCode">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" ng-click="addNewBranch()">Submit</button>
                </div>
                <h5>Powered by Bootstrap</h5>
                <pre>{{newBranch | json}}</pre>
            </div>
        </div>
    </div>
</div>

<script src="../../../js/jQuery/filterable.js"></script>