<link href="../../../css/schooladmin/login/schooladmin.login.css" rel="stylesheet" />

<h3><p>It is necessary to login to an account prior to adding schools/instructors.</p></h3>


<section class="contact-form">
    <div class="register-menu">
        <h5 class="formTitle">ARE YOU NEW? <span class="register">REGISTER</span></h5>
        <br />
        <label class="FirstName">
            <input type="text" id="FirstName" placeholder="first name">
        </label>
        <label class="MiddleName">
            <input type="text" id="MiddleName" placeholder="middle name">
        </label>
        <label class="LastName">
            <input type="text" id="LastName" placeholder="last name">
        </label>
        <label class="Email">
            <input type="text" id="Email" placeholder="Email" />
        </label>
        <label class="City">
            <input type="text" id="City" placeholder="City" />
        </label>
        <label class="State">
            <input type="text" id="State" placeholder="State" />
        </label>
        <label class="UserName">
            <input type="text" id="UserName" placeholder="user name" />
        </label>
        <label class="Password">
            <input type="password" id="Password" placeholder="Password" />
        </label>
        <label class="Confirm password">
            <input type="password" id="ConfirmPassword" placeholder="Confirm password" />
        </label>
    </div>
    <button ng-click="register()">

        <span class="state">Register</span>
    </button>
</section>



<div class="login-form">
    <h5 class="formTitle2">
        ALREADY REGISTERED? LOGIN
    </h5>
    <label class="email-span2">
        <input type="text" name="UserNameLogin" placeholder="User name">
    </label>
    <label class="email-span3">
        <input type="text" name="Password" placeholder="Password">
    </label>
    <p><input type="checkbox" class="checkBox" name="rememberMe" value="yes">Remember me?</p>
    <div class="loginRow">
        <input type="submit" class="login" value="Login">
    </div>
    <p class="forgotPass">Forgot Password</p>
</div>